Antes de executar, selecione o ambiente virtual (.venv) como Kernel do seu jupyter notebook.
poetry env activate
copiar o retorno, exemplo: & "C:\Users\seu_usuario\AppData\Local\pypoetry\Cache\virtualenvs\spark-iceberg-eM2oaFR9-py3.13\Scripts\activate.ps1"
e colar no terminal e rodar, assim ir√° ativar o ambiente virtual para poder selecionar com o Kernel

In [1]:
from pyspark.sql import SparkSession

In [ ]:
# Init Spark session with Iceberg configurations
spark = SparkSession.builder \
  .appName("IcebergLocalDevelopment") \
  .config('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.6.1') \
  .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions") \
  .config("spark.sql.catalog.local", "org.apache.iceberg.spark.SparkCatalog") \
  .config("spark.sql.catalog.local.type", "hadoop") \
  .config("spark.sql.catalog.local.warehouse", "dataset_iceberg") \
  .getOrCreate()

In [ ]:
# View Spark config 
spark

In [ ]:
# Create table 
spark.sql("""
CREATE TABLE local.livros_iceberg (
    id INT,
    titulo STRING,
    autor STRING,
    ano_publicacao INT
) USING iceberg
""")

DataFrame[]

In [ ]:
# Insert data into the table
spark.sql("""
INSERT INTO local.livros_iceberg VALUES
    (1, '1984', 'George Orwell', 1949),
    (2, 'Dom Casmurro', 'Machado de Assis', 1899),
    (3, 'O Hobbit', 'J.R.R. Tolkien', 1937)
""")

DataFrame[]

In [ ]:
spark.sql("SELECT * FROM local.livros_iceberg").show()

+---+------------+----------------+--------------+
| id|      titulo|           autor|ano_publicacao|
+---+------------+----------------+--------------+
|  1|        1984|   George Orwell|          1949|
|  2|Dom Casmurro|Machado de Assis|          1899|
|  3|    O Hobbit|  J.R.R. Tolkien|          1937|
+---+------------+----------------+--------------+

In [ ]:
# Update data in the table
spark.sql("""
UPDATE local.livros_iceberg
SET autor = 'M. de Assis'
WHERE id = 2
""")

DataFrame[]

In [ ]:
# Delete data from the table
spark.sql("""
DELETE FROM local.livros_iceberg
WHERE id = 3
""")

DataFrame[]

In [ ]:
spark.sql("SELECT * FROM local.livros_iceberg").show()

+---+------------+-------------+--------------+
| id|      titulo|        autor|ano_publicacao|
+---+------------+-------------+--------------+
|  2|Dom Casmurro|  M. de Assis|          1899|
|  1|        1984|George Orwell|          1949|
+---+------------+-------------+--------------+